{% extends "base.html" %}

{% block content %}
    <div class="container-fluid product-page">
        <div class="div-product d-flex justify-content-center align-items-center h-100 flex-column ">
            <div class="product-blur h-50 w-25"></div>
            <div class="d-flex justify-content-center align-items-center h-50 flex-column inner-product">
                <h1 class="fw-5 text-white text-center h-product">Order summary</h1>
                <h6 class="fw-5 text-white text-center h-nav-product">
                    <nav style="--bs-breadcrumb-divider: '>'; color: white;" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'categories_url' %}" class="breadcrumb-nav-page"><i class="bi bi-house-fill"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-nav-page fs-6">Order Order summary</a></li>
                        </ol>
                    </nav>
                </h6>
            </div>
        </div>
    </div>
    <div class="container-lg text-start p-5">
        <div class='row'>
            <div class='col-12'>
                <h4 class="text-start pb-2 description-text">Order summary</h4>
                <table class="table table-secondary table-hover">
                    <thead> 
                        <tr class="table-secondary text-center">
                            <th scope="col" class="image-th">Image</th>
                            <th scope="col" style='width:24rem'>Name</th>
                            <th scope="col" style='width:18rem'>Quantity</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.products.all %}
                            <tr class='table-light text-center align-content-center'>
                                <th scope="row"><img src="{{ item.product.image.url }}" class="img-thumbnail img-cart"/></th>
                                <td class='text-start'>
                                    <h6>{{ item.product.name}}</h6>
                                    <p class='text-secondary' style='font-size:12px;'>{{item.product.description|truncatewords:50}}</p>
                                </td>
                                <td>
                                    {{ item.quantity}}
                                </td>
                                <td>{{ item.price }}$</td>
                                <td>{{ item.get_cost }}$</td>
                            </tr>
                        {% endfor %}
                        <tr class='table-secondary text-end'>
                            <th scope="row" colspan='4'>Total Price</th>
                            <td scope="row">{{ order.get_total_cost}}$</td>
                        </tr>
                    </tbody>
                </table>
                <p class='text-end  ms-auto w-100'>
                    <form active="{% url 'payment:process'%}" method="POST">
                        {% csrf_token %}
                        <input type='submit' class='btn btn-success rounded-0' value='Pay'/>
                    </form>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}