<div class="container-fluid heading-page-tea">
    <div class="div-header d-flex justify-content-center align-items-center h-100 flex-column ">
        <div class="header-blur h-50 w-25"></div>
        <div class="d-flex justify-content-center align-items-center h-100 flex-column inner-header">
            <h1 class="fw-5 text-white text-center h-header">Tea</h1>
            <p class="w-25 text-header">
                Each tea variety is selected with care and attention to detail. 
                This category offers a huge range of teas and a wide selection 
                of flavors - from rich and sophisticated to bright and rare.
            </p>
        </div>
    </div>
</div>