{% extends "base.html" %}

{% block content %}
    <div class="container-fluid product-page">
        <div class="div-product d-flex justify-content-center align-items-center h-100 flex-column ">
            <div class="product-blur h-50 w-25"></div>
            <div class="d-flex justify-content-center align-items-center h-50 flex-column inner-product">
                <h1 class="fw-5 text-white text-center h-product">Cart</h1>
                <h6 class="fw-5 text-white text-center h-nav-product">
                    <nav style="--bs-breadcrumb-divider: '>'; color: white;" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'categories_url' %}" class="breadcrumb-nav-page"><i class="bi bi-house-fill"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-nav-page fs-6">Cart</a></li>
                        </ol>
                    </nav>
                </h6>
            </div>
        </div>
    </div>
    <div class="container-lg text-start p-5">
        <div class='row'>
            <div class='col-12'>
                {% if cart %}
                <h4 class="text-start pb-2 description-text">Products Cart</h4>
                <table class="table table-secondary table-hover">
                    <thead> 
                        <tr class="table-secondary text-center">
                            <th scope="col" class="image-th">Image</th>
                            <th scope="col" style='width:24rem'>Name</th>
                            <th scope="col" style='width:18rem'>Quantity</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for item in cart %}
                            {% with product=item.product %}
                                <tr class='table-light text-center align-content-center'>
                                    <th scope="row"><img src="{{ product.image.url }}" class="img-thumbnail img-cart"/></th>
                                    <td class='text-start'>
                                        <h6>{{ product.name}}</h6>
                                        <p class='text-secondary' style='font-size:12px;'>{{product.description|truncatewords:50}}</p>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-start w-75">
                                            <form action="{% url 'cart:cart_add' product.id%}" method="POST">
                                                <div class="input-group mb-3">
                                                    {% csrf_token %}
                                                        {% for field in item.item_override %}
                                                            {{ field}}
                                                        {% endfor %}
                                                    <button type="submit" class="btn text-dark rounded-0 "><i class="bi bi-arrow-clockwise"></i></button>                                                    
                                                </div>  
                                            </form> 
                                            <form action="{% url 'cart:cart_remove' product.id %}" method="POST">
                                                <div class="input-group mb-3">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn text-danger rounded-0 "><i class="bi bi-trash3"></i></button>
                                                </div>  
                                            </form> 
                                        </div>
                                    </td>
                                    <td>{{ item.price }}$</td>
                                    <td>{{ item.total_price }}$</td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                        <tr class='table-secondary text-end'>
                            <th scope="row" colspan='4'>Total Price</th>
                            <td scope="row">{{ cart.get_total_price}}$</td>
                        </tr>
                    </tbody>
                </table>
                <div class='row'>
                    <div class='col-6'>
                        <p class='text-start'>
                            <a class='btn btn-sm btn-secondary rounded-0 w-25' href="{% url 'categories_url'%}">Continue</a>
                        </p>
                    </div>
                    <div class='col-6'>
                        <p class='text-end'>
                            <a class='btn btn-sm btn-secondary rounded-0 w-25' href="{% url 'orders:order_create'%}">Checkout</a>
                        </p>
                    </div>
                </div>
            </div>
            {% else %}
                <div class='col-12'>
                    <h4 class="text-center pb-2 description-text">Products Cart</h4>
                    <p class='text-center text-secondary'>Cart is Empty</p>
                    <p class='text-center'>
                        <a class='btn btn-sm btn-secondary rounded-0 w-25' href="{% url 'categories_url'%}">Continue</a>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}