{% extends "base.html" %}

{% block content %}
    <div class="container-fluid product-page">
        <div class="div-product d-flex justify-content-center align-items-center h-100 flex-column ">
            <div class="product-blur h-50 w-25"></div>
            <div class="d-flex justify-content-center align-items-center h-50 flex-column inner-product">
                <h1 class="fw-5 text-white text-center h-product">{{ product.name}}</h1>
                <h6 class="fw-5 text-white text-center h-nav-product">
                    <nav style="--bs-breadcrumb-divider: '>'; color: white;" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'categories_url' %}" class="breadcrumb-nav-page"><i class="bi bi-house-fill"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'category_url' product.category.slug%}" class="breadcrumb-nav-page">{{ product.category }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><span class="breadcrumb-nav-page">{{ product.name}}</span></li>
                        </ol>
                    </nav>
                </h6>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center p-5">
        <div class="row">
            <div class="col-lg-3 col-md-3 ">
                <h4 class="text-start pb-2 what-to-buy">Category</h4>
                <div class="accordion" id="accordionPanelsStayOpenExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                Category
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                            <div class="accordion-body text-start">
                                <ul class="list-group list-group-flush">
                                    {% for category in categories %}
                                        <li class="list-group-item">
                                            <a href="{% url 'category_url' category.slug %}" class="text-decoration-none category-item {% if category == product.category %}active-item{% endif  %}">{{ category }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                               Price
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <strong>This is the third item’s accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 my-4">
                <div class="row gap-4">
                    <div class="col-5">
                        <img src="{{ product.image.url}}" class="img-thumbnail" alt="...">
                    </div>
                    <div class="col-4 text-start">
                        <h4 class="text-start">{{ product.name }}</h4>
                        <h3 class="text-start py-3">{{ product.price}}$</h3>
                        <table class="table">
                            <tbody >
                                <tr class="d-flex">
                                    <td class="w-25 flex-shrink-1 border border-0 text-secondary">Category:</td>
                                    <td class="w-50 border border-0 text-secondary">{{ product.category}}</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="w-25 flex-shrink-1 border border-0 text-secondary">Available:</td>
                                    <td class="w-50 border border-0 text-secondary">{{ product.available}}</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="w-25 flex-shrink-1 border border-0 text-secondary">View:</td>
                                    <td class="w-50 border border-0 text-secondary">12443</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="w-25 flex-shrink-1 border border-0 text-secondary">Delivery:</td>
                                    <td class="w-50 border border-0 text-secondary">Nova Poshta</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="w-25 flex-shrink-1 border border-0 text-secondary"></td>
                                    <td class="w-50 border border-0 text-secondary">Urk Poshta</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="w-25 flex-shrink-1 border border-0 text-secondary"></td>
                                    <td class="w-50 border border-0 text-secondary">Pickup</td>
                                </tr>
                                <tr class="d-flex flex-column">
                                    <td class="w-25 flex-shrink-1 border border-0 text-secondary">Quantity</td>
                                    <td class="w-75 border border-0 text-secondary">
                                        <form method="post">
                                            <div class="input-group mb-3 w-50">
                                                <button class="btn btn-secondary rounded-0" type="button" id="button-addon1" data-action="minus">-</button>
                                                <input type="text" class="form-control form-number" value="1"/>
                                                <button class="btn btn-secondary rounded-0" type="button" id="button-addon2" data-action="plus">+</button>
                                            </div>  
                                            <input type="submit" value="Add to cart" class="btn btn-success rounded-0 w-50"/>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4 text-start">
                        <ul class="list-group list-group-horizontal border border-0">
                            <li class="list-group-item border border-0 active-tab" data-tab="tab-1">Description</li>
                            <li class="list-group-item border border-0" data-tab="tab-2">Reviews</li>
                        </ul>
                    </div>
                    <div class="col-12 text-start">
                        <div data-tab-content id="tab-1">
                            <h4 class="text-start pb-2 description-text">Description</h4>
                            <p class="text-start w-75">
                                {{ product.description}}
                            </p>
                        </div>
                        <div class="hidden" data-tab-content id="tab-2">
                            <h4 class="text-start pb-2 description-text">Reviews</h4>
                            <p class="text-start">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit et reprehenderit minima reiciendis quam maxime harum tempore? Maiores, expedita! Recusandae fuga illo, rem eligendi ipsam voluptatem reiciendis blanditiis neque sequi nam accusamus perspiciatis mollitia cupiditate placeat praesentium et eum quas ipsa, laboriosam culpa maxime dicta at fugit quo. Temporibus ad cumque, suscipit nulla nemo, aliquam soluta architecto, quidem repellendus ipsa itaque unde at voluptatem qui in molestias neque minus. Saepe aut eveniet, iusto voluptates animi ipsam illum pariatur quibusdam! Temporibus repellendus dolor esse obcaecati quos error corrupti fuga optio illum iure, explicabo repudiandae molestiae, illo quod, architecto dignissimos porro ullam!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}